<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>공지사항 상세 페이지</title>
        <!-- CSS 파일 -->
	    <link href="/css/inhoCss/commonDetail.css" rel="stylesheet" />
	    <link href="/css/inhoCss/sidebar.css" rel="stylesheet" type="text/css" />
	    <link href="/css/inhoCss/header.css" rel="stylesheet" type="text/css"/>
	
	    <!-- 아이콘 & 폰트 -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
	    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <!-- sidebar 조각 삽입 -->
	        <div th:replace="~{common/sidebar :: sidebar}"></div>
	
	        <div class="content-area">
	            <!-- header 조각 삽입 -->
	            <div th:replace="~{common/header2 :: header2}"></div>
	            
                <div class="main-content">
                    <h2 class="page-title">공지사항 상세 페이지</h2>
                    <form id="detailForm" method="get" th:action="@{/inhoAdmin/updateNotice}">
                    	<input type="hidden" name="boardId" th:value="${b.boardId}">
                    	<input type="hidden" name="page" th:value="${page}">
                    	<table class="detail-table">
                        <tr>
                            <th>공지사항번호</th>
                            <td>[[${b.boardId}]]</td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td>[[${b.boardTitle}]]</td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td th:utext="${b.boardContent}"></td>
                        </tr>
                        <tr>
                            <th>작성자</th>
                            <td>[[${b.userNo}]]</td>
                        </tr>
                        <tr>
                            <th>작성일</th>
                            <td>[[${b.boardDate}]]</td>
                        </tr>
                        <tr>
                            <th>수정일</th>
                            <td th:text="${b.boardModifiedDate != null ? b.boardModifiedDate : '-'}"></td>
                        </tr>
                    </table>
                    <div class="form-actions">
                        <button class="btn-submit">수정</button>
                        <button type="button" id="deleteBtn" class="btn-reset">삭제</button>
                        <button type="button" class="btn-reset" onclick="history.back()">취소</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
		<script th:src="@{/js/inhoAdmin/sidebar.js}"></script>
		<script>
			window.onload = () => {
			    const delBtn = document.getElementById('deleteBtn');
			    const form = document.getElementById('detailForm');
	
			    if (delBtn) {
			        delBtn.addEventListener('click', () => {
			            if (confirm("정말 공지사항을 삭제하시겠습니까?")) {
			            	form.method = "post";
			                form.action = '/inhoAdmin/deleteNotice';
			                form.submit();
			            }
			        });
			    }
			}
		</script>
    </body>
</html>
