<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>상품 상세 (관리자)</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet" />
        
        <link href="../../../static/css/adminCss/sidebar.css" rel="stylesheet" type="text/css" />
        <link href="../../../static/css/adminCss/productDetail.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div class="container">
	       	<div th:replace="~{views/common/sidebar :: sidebar}"></div>
	        <div class="product-container">
	        
	            <h2>상품 상세 정보</h2>
	
	            <div class="product-info">
	                <p><strong>상품명:</strong> <span id="productName">예시 상품명</span></p>
	                <p><strong>카테고리:</strong> <span id="category">패션</span></p>
	                <p><strong>가격:</strong> <span id="price">50,000원</span></p>
	                <p><strong>판매자:</strong> <span id="price">나이키</span></p>
	                <p><strong>누적 경고 횟수:</strong> <span id="warningCount">3회</span></p>
	            </div>
	
	            <form action="/admin/product/suspend" method="post">
	                <input type="hidden" name="productId" value="123" />
	
	                <label>판매정지 기간 선택</label>
	                <div class="radio-group">
	                    <label><input type="radio" name="suspendPeriod" value="3" required /> 3일</label>
	                    <label><input type="radio" name="suspendPeriod" value="7" /> 7일</label>
	                    <label><input type="radio" name="suspendPeriod" value="14" /> 14일</label>
	                    <label><input type="radio" name="suspendPeriod" value="30" /> 30일</label>
	                    <label><input type="radio" name="suspendPeriod" value="30" /> 90일</label>
	                    <label><input type="radio" name="suspendPeriod" value="0" /> 영구정지</label>
	                </div>
	
	                <div class="btn-group">
	                    <button type="submit" class="btn-submit">판매정지 적용</button>
	                    <button type="button" class="btn-cancel" onclick="history.back()">취소</button>
	                </div>
	            </form>
	        </div>
        </div>
        <script th:src="@{/js/sidebar.js}"></script>
    </body>
</html>
