<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자용 판매자 문의게시판</title>
    <link rel="stylesheet" href="./admin_partner_board.css">
    <script src="./admin_partner_board.js" defer></script>
</head>
<body>
    <div class="admin-partBoard-wrapper">
        <div class="admin-partBoard-header">
            <div class="admin-partBoard-title">판매자 문의게시판</div>
            <hr class="admin-partBoard-divider"/>
        </div>
        

        <div class="admin-partBoard-table">
            <table id="admin-partBoard-table-header" class="admin-partBoard-table-header">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>답변상태</th>
                    </tr>
                </thead>
                <tbody id="admin-partBoard-table-body" class="admin-partBoard-table-body">
                    <tr>
                        <td>3</td>
                        <td>판매상품 삭제가 안됩니다.</td>
                        <td>무지개 맨션</td>
                        <td>2025-10-02</td>
                        <td>답변완료</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>상품 등록 하는 방법?</td>
                        <td>cosrx</td>
                        <td>2025-08-05</td>
                        <td>답변대기</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>판매 정산금 수수료 문의 급합니다.</td>
                        <td>토리든</td>
                        <td>2025-07-31</td>
                        <td>답변대기</td>
                    </tr>
                </tbody>
            </table>
            <ul class="admin-board-pagination">
                <li class="admin-board-page-item">&laquo;</li>
                <li class="admin-board-page-item active">1</li>
                <li class="admin-board-page-item">2</li>
                <li class="admin-board-page-item">3</li>
                <li class="admin-board-page-item">4</li>
                <li class="admin-board-page-item">5</li>
                <li class="admin-board-page-item">&raquo;</li>
            </ul>





        </div>




        
    </div>



</body>
</html>