<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자용 일반유저 게시판</title>
    <link rel="stylesheet" href="./admin_general_board.css">
    <script src="./admin_general_board.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
</head>
<body>
    <div class="admin-genBoard-wrapper">
        <div class="admin-genBoard-header">
            <div class="admin-genBoard-title">일반 문의게시판</div>
            <hr class="admin-genBoard-divider"/>
        </div>
        

        <div class="admin-genBoard-table">
            <table id="admin-genBoard-table-header" class="admin-genBoard-table-header">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>답변상태</th>
                    </tr>
                </thead>
                <tbody id="admin-genBoard-table-body" class="admin-genBoard-table-body">
                    <tr>
                        <td>5</td>
                        <td>쿠폰 어떻게 적용함?</td>
                        <td>luv1004</td>
                        <td>2025-08-23</td>
                        <td>답변대기</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>찜목록이 사라졌어요</td>
                        <td>dlwl34</td>
                        <td>2025-08-22</td>
                        <td>답변완료</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>포인트 유효기간</td>
                        <td>리뷰천재</td>
                        <td>2025-08-21</td>
                        <td>답변완료</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>여기 너무 비ㅣ싸요;</td>
                        <td>맛있으면 짖는 사람</td>
                        <td>2025-07-23</td>
                        <td>답변완료</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>이거 진짜에요?</td>
                        <td>곰돌이 두마리</td>
                        <td>2024-12-01</td>
                        <td>답변완료</td>
                    </tr>
                </tbody>
            </table>
            <ul class="admin-board-pagination">
                <li class="admin-board-page-item">&laquo;</li>
                <li class="admin-board-page-item active">1</li>
                <li class="admin-board-page-item">2</li>
                <li class="admin-board-page-item">3</li>
                <li class="admin-board-page-item">4</li>
                <li class="admin-board-page-item">5</li>
                <li class="admin-board-page-item">&raquo;</li>
            </ul>




        </div>




        
    </div>



</body>
</html>