<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자용 일반유저 게시판</title>
    <link rel="stylesheet" href="/css/adminCss/admin_general_board.css">
    <script src="/js/admin/admin_general_board.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />

	<link href="/css/inhoCss/enrollCouponNotice.css" rel="stylesheet" />
    <link href="/css/inhoCss/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="/css/inhoCss/header.css" rel="stylesheet" type="text/css"/>
    <script src="/js/inhoAdmin/sidebar.js" defer></script>

    <!-- 아이콘 & 폰트 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet" />

</head>
<body>
	<div class="container">
		<!-- 사이드바 -->
		<div th:replace="~{common/sidebar :: sidebar}"></div>
		<!-- 컨텐츠 영역 -->
	    <div class="content-area">
			<!-- 헤더 -->
			<div th:replace="~{common/header2 :: header2}"></div>
	
    <div class="admin-genBoard-wrapper">
        <div class="admin-genBoard-header">
            <div class="admin-genBoard-title">일반 문의게시판</div>
            <hr class="admin-genBoard-divider"/>
        </div>
        

        <div class="admin-genBoard-table">
            <table id="admin-genBoard-table-header" class="admin-genBoard-table-header">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>답변상태</th>
                    </tr>
                </thead>
                <tbody id="admin-genBoard-table-body" 
                	class="admin-genBoard-table-body"
                	th:each="gBoard : ${gBoardList}">
                    <tr>
                        <td th:text="${gBoard.boardId}"></td>
                        <td th:text="${gBoard.boardTitle}"></td>
                        <td th:text="${gBoard.userId}"></td>
                        <td th:text="${gBoard.boardDate}"></td>
                        <td th:text="${gBoard.boardReplyStatus == 'Y' ? '답변완료' : '답변대기'}"></td>
                    </tr>
                </tbody>
            </table>
		     <ul class="admin-board-pagination">
		               <li class="admin-board-page-item" th:classappend="${pi.currentPage == 1} ? 'disabled'">
				           <a class="page-link"
			                   th:if="${pi.currentPage > 1}"
			                   th:href="@{${loc}(page=${pi.currentPage-1})}"
			                   aria-label="Previous">
	                       <span aria-hidden="true">&laquo;</span>
	                	   </a>
	                	   <span class="page-link" th:unless="${pi.currentPage > 1}">&laquo;</span>    
			           </li>
		              
		              
		               <li class="admin-board-page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}"
		               	   th:classappend="${p == pi.currentPage} ? 'active'">
			               <a class="page-link" th:href="@{${loc}(page=${p})}">[[${p}]]</a>
            		   </li>
		               
		               <li class="admin-board-page-item" th:classappend="${pi.currentPage == pi.maxPage} ? 'disabled'">
				           	<a class="page-link"
			                   th:if="${pi.currentPage < pi.maxPage}"
			                   th:href="@{${loc}(page=${pi.currentPage+1})}"
			                   aria-label="Next">
			                   <span aria-hidden="true">&raquo;</span>
	                		</a> 
                			<span class="page-link" th:unless="${pi.currentPage < pi.maxPage}">&raquo;</span>
            			</li>
		           </ul>



        </div>


</div>
</div>

        
    </div>



</body>
</html>