<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>신고 댓글 상세</title>
        
        <script th:src="@{/js/admin/admin_rReply_detail.js}" defer></script>
        <!-- CSS 파일 -->
	    <link href="/css/adminCss/admin_rReply_detail.css" rel="stylesheet" />
	    <link href="/css/inhoCss/sidebar.css" rel="stylesheet" type="text/css" />
	    <link href="/css/inhoCss/header.css" rel="stylesheet" type="text/css"/>
	
	    <!-- 아이콘 & 폰트 -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
	    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <!-- sidebar 조각 삽입 -->
	        <div th:replace="~{common/sidebar :: sidebar}"></div>
	
	        <div class="content-area">
	            <!-- header 조각 삽입 -->
	            <div th:replace="~{common/header2 :: header2}"></div>
	            
                <div class="main-content">
	                <div class="main-section">
	                    <h2 class="page-title">신고댓글 상세정보</h2>
	                    <form id="rp-detailForm" method="post">
	                    	<input type="hidden" name="replyNo" th:value="${v.replyNo}">
	                    	<input type="hidden" name="page" th:value="${page}">
	                    	<table class="detail-table">
	                        <tr>
	                            <th>댓글 번호</th>
	                            <td>[[${v.replyNo}]]</td>
	                        </tr>
	                        <tr>
	                            <th>댓글 작성자</th>
	                            <td>[[${v.userId}]]</td>
	                        </tr>
	                        <tr>
	                            <th>댓글 내용</th>
	                            <td>[[${v.replyContent}]]</td>
	                        </tr>
	                        <tr>
	                            <th>댓글 작성일</th>
	                            <td>[[${v.replyDate}]]</td>
	                        </tr>
	                        <tr>
	                            <th>댓글 상태</th>
	                            <td>[[${v.replyStatus}]]</td> 
	                        </tr>
	                        <tr>
	                            <th>누적 신고횟수</th>
	                            <td>[[${v.reportCount}]]</td> 
	                        </tr>
	                    </table>
	                    <!-- 상품 정지기간 선택 영역 // 자자동해지 -->
						<div class="stop-period-section" style="margin-bottom: 10px;">
						    <label class="page-title">리뷰 관리</label>
						    <div style="margin-top: 10px;"></div>
						</div>
	                    
	                    <div class="form-actions">
	                        <button type="button" id="rp-deleteBtn" class="rp-btn-reset">리뷰 삭제</button>
	                        <button type="button" class="rp-btn-reset" onclick="history.back()">취소</button>
	                    </div>
	                    </form>
	                </div>
	                
	                <!-- 신고 히스토리 -->
				    <div class="main-section">
				    	<h2 class="page-title">신고 히스토리</h2>
				        <table class="history-table">
				        	<thead>
					        	<tr>
					        		<th>신고번호</th>
						            <th>신고제목</th>
   						            <th>신고내용</th>
						            <th>신고 작성자</th>
						            <th>신고일</th>
					          	</tr>
				          	</thead>
				          	<tbody>
					        	<tr th:each="r : ${vlist}">
					            	<td th:text="${r.reportNo}"></td>
					            	<td th:text="${r.reportTitle}"></td>
 					            	<td th:text="${r.reportContent}"></td> 
					            	<td th:text="${r.userName}"></td>
					            	<td th:text="${r.reportDate}"></td>
					        	</tr>
				        	</tbody>
				    	</table>
					</div>
                </div>
            </div>
        </div>
		<script th:src="@{/js/inhoAdmin/sidebar.js}"></script>
		
    </body>
</html>
