<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>커뮤니티 신고글 상세</title>
        
        <script th:src="@{/js/admin/admin_rBoard_detail.js}" defer></script>
        <!-- CSS 파일 -->
	    <link href="/css/adminCss/admin_rBoard_detail.css" rel="stylesheet" />
	    <link href="/css/inhoCss/sidebar.css" rel="stylesheet" type="text/css" />
	    <link href="/css/inhoCss/header.css" rel="stylesheet" type="text/css"/>
	
	    <!-- 아이콘 & 폰트 -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
	    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <!-- sidebar 조각 삽입 -->
	        <div th:replace="~{common/sidebar :: sidebar}"></div>
	
	        <div class="content-area">
	            <!-- header 조각 삽입 -->
	            <div th:replace="~{common/header2 :: header2}"></div>
	            
                <div class="main-content">
	                <div class="main-section">
	                    <h2 class="page-title">커뮤니티 신고글 상세정보</h2>
	                    <form id="board-detailForm" method="post">
	                    	<input type="hidden" name="boardId" th:value="${b.boardId}">
	                    	<input type="hidden" name="page" th:value="${page}">
	                    	<table class="detail-table">
	                        <tr>
	                            <th>신고 날짜</th>
	                            <td>[[${b.reportDate}]]</td>
	                        </tr>
	                        <tr>
	                            <th>게시글 번호</th>
	                            <td>[[${b.boardId}]]</td>
	                        </tr>
	                        <tr>
	                            <th>게시글 제목</th>
	                            <td>[[${b.boardTitle}]]</td>
	                        </tr>
	                        <tr>
	                            <th>게시글 내용</th>
	                            <td>[[${b.boardContent}]]</td>
	                        </tr>
	                        <tr>
	                            <th>게시글 작성자</th>
	                            <td>[[${b.userName}]]</td> 
	                        </tr>
	                        <tr>
	                            <th>해당 글 신고횟수</th>
	                            <td>[[${b.reportCount}]]</td>
	                        </tr>
	                    </table>
						<div class="stop-period-section" style="margin-bottom: 10px;">
						    <label class="page-title">게시글 관리</label>
						</div>
	                    
	                    <div class="form-actions">
	                        <button type="button" id="board-deleteBtn" class="board-btn-reset">삭제</button>
	                        <button type="button" class="board-btn-reset" onclick="history.back()">취소</button>
	                    </div>
	                    </form>
	                </div>
	                
	                <!-- 신고 히스토리 -->
				    <div class="main-section">
				    	<h2 class="page-title">신고 히스토리</h2>
				        <table class="history-table">
				        	<thead>
					        	<tr>
					        		<th>신고번호</th>
						            <th>신고제목</th>
						            <th>신고내용</th>
						            <th>신고 작성자</th>
						            <th>신고일</th>
					          	</tr>
				          	</thead>
				          	<tbody>
					        	<tr th:each="br : ${blist}">
					            	<td th:text="${br.reportNo}"></td>
					            	<td th:text="${br.reportTitle}"></td>
 					            	<td th:text="${br.reportContent}"></td> 
					            	<td th:text="${br.userName}"></td>
					            	<td th:text="${br.reportDate}"></td>
					        	</tr>
				        	</tbody>
				    	</table>
					</div>
                </div>
            </div>
        </div>
		<script th:src="@{/js/inhoAdmin/sidebar.js}"></script>
    </body>
</html>
