<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 회원 신고게시판</title>
    <link rel="stylesheet" href="/css/adminCss/admin_report_board.css">
   	<link href="/css/inhoCss/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="/css/inhoCss/header.css" rel="stylesheet" type="text/css"/>
    <script src="/js/inhoAdmin/sidebar.js" defer></script>
     <!-- 아이콘 & 폰트 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
</head>
<body>
       <div class="container">
            <!-- 사이드바 -->
            <div th:replace="~{common/sidebar :: sidebar}"></div>

            <!-- 컨텐츠 영역 -->
            <div class="content-area">
	            <!-- 헤더 -->
	            <div th:replace="~{common/header2 :: header2}"></div>
	
			<div class="admin-report-board-wrapper">
			    <div class="admin-report-board-header">
			        <div class="admin-report-board-title">회원 신고 게시판</div>
			        <div class="admin-report-board-searchBox">
			            <form th:action="@{/admin/rUser}" method="get">
			                <select name="condition" class="form-select">
			                    <option value="reportTitle"  th:selected="${condition == 'reportTitle'}">제목</option>
			                    <option value="reporterUserId" th:selected="${condition == 'reporterUserId'}">작성자</option>
			                    <option value="reportStatus" th:selected="${condition == 'reportStatus'}">신고글 상태</option>
			                </select>
			                <input type="search" name="value" class="form-control" style="width:250px; display:inline;">
			                <button class="report-board-btn" type="submit">
			                    <i class="ti ti-search"></i>
			                </button>
			            </form>
			        </div>
			    </div>
			    <hr class="admin-report-board-divider"/>
			    
			        <!--게시글 선택옵션 넣고 삭제(상태 N)하기 버튼 : 토글로 넣어야겠다 / 검색창기능 추가 / -->
			    <div class="admin-report-board-table">
			        <table id="admin-report-board-table-header" 
			        	   class="admin-report-board-table-header"
			        	   >
			            <thead>
			                <tr>
			                    <th>No</th>
			                    <th>신고 제목</th>
			                    <th>신고 회원 이름</th>
			                    <th>누적 신고 횟수</th>
			                    <th>신고 상태</th>
			                </tr>
			            </thead>
			            <tbody id="admin-report-board-table-body" 
			            	   class="admin-report-board-table-body">
			                <tr th:each="user : ${userList}">
			                	<td>[[${user.rowNum}]]</td>
			                    <td>
			                    	<a th:href="@{/admin/rUserDetail(userNo=${user.userNo}, page=${page})}">
								    [[${user.reportTitle}]]
								    </a>
			                    </td>
			                   <td>
								  <a th:href="@{/admin/rUserDetail(userNo=${user.userNo}, page=${page})}">
								    [[${user.userName}]]
								  </a>
								</td>
			                    <td>[[${user.reportCount}]]</td>
			                    <td th:text="${user.reportStatus == 'Y' ? '처리중' : '처리완료'}"></td>
			                </tr>
			            </tbody>
			        </table>
			           <ul class="admin-board-pagination">
		               <li class="admin-board-page-item" th:classappend="${pi.currentPage == 1} ? 'disabled'">
				           <a class="page-link" 
							   th:if="${pi.currentPage > 1}"
							   th:href="@{/admin/rUser(condition=${condition}, value=${value}, page=${pi.currentPage-1})}"
							   aria-label="Previous">
							   <span aria-hidden="true">&laquo;</span>
							</a>
	                	   <span class="page-link" th:unless="${pi.currentPage > 1}">&laquo;</span>    
			           </li>
		               
		              
		              	<li class="admin-board-page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}"
		               	   th:classappend="${p == pi.currentPage} ? 'active'">
			               <a class="page-link" 
   							th:href="@{/admin/rUser(condition=${condition}, value=${value}, page=${p})}">[[${p}]]</a>

            		   </li>
		               
					   <li class="admin-board-page-item" th:classappend="${pi.currentPage == pi.maxPage} ? 'disabled'">
				           	<a class="page-link" 
							   th:if="${pi.currentPage < pi.maxPage}"
							   th:href="@{/admin/rUser(condition=${condition}, value=${value}, page=${pi.currentPage+1})}"
							   aria-label="Next">
							   <span aria-hidden="true">&raquo;</span>
						</a> 
                			<span class="page-link" th:unless="${pi.currentPage < pi.maxPage}">&raquo;</span>
            			</li>
			
			
			
			
			    </div>

</div>
</div>


        
    </div>



</body>
</html>