<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itView.springboot.mapper.AdminMapper">
<!-- 회원 전체 조회-->
<select id="getUserListCount" resultType="int">
select count(*) 
    from (
        select u.user_no, u.user_id, u.email, u.user_type, u.user_status,
               count(r.report_no) as reportCount
        from "USER" u
        left join REPORT r on u.user_no = r.reporter_user_id
        group by u.user_no, u.user_id, u.email, u.user_type, u.user_status)t
	<if test="value != null and value != ''">
		<choose>
			<when test="condition == 'userId'">
				where user_id like '%' || #{value} || '%'
			</when>
			<when test="condition == 'userType'">
				where user_type like '%'|| #{value} ||'%'
			</when>
			<when test="condition == 'userStatus'">
				where user_status like '%' || #{value} || '%'
			</when>
			<when test="condition == 'reportCount'">
				where reportCount = #{value}
			</when>
			<otherwise>
            	where (user_id like '%' || #{value} || '%')
            </otherwise>
		</choose>
	</if>
</select>

<select id="selectUserList" resultType="itView.springboot.dto.UserReport">
	select * 
    from (
        select u.user_no, u.user_id, u.email, u.user_type, u.user_status,
               count(r.report_no) as reportCount
        from "USER" u
        left join REPORT r on u.user_no = r.reporter_user_id
        group by u.user_no, u.user_id, u.email, u.user_type, u.user_status)t
	<if test="value != null and value != ''">
		<choose>
			<when test="condition == 'userId'">
				where upper(user_id) like '%' || upper(#{value}) || '%'
			</when>
			<when test="condition == 'userType'">
				where upper(user_type) like '%'|| upper(#{value})||'%'
			</when>
			<when test="condition == 'userStatus'">
				where upper(user_status) like '%' || upper(#{value}) || '%'
			</when>
			<when test="condition == 'reportCount'">
				where reportCount = #{value}
			</when>
			<otherwise>
            	where (upper(user_id) like '%' || upper(#{value}) || '%')
            </otherwise>
		</choose>
	</if>
</select>
















</mapper>