<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itView.springboot.mapper.ShoppingMapper">
	
	<delete id="checkDelete">
		delete from cart
		where cart_no in
		<foreach collection="cNo" item="cartNo" open="(" separator="," close=")">
			#{cartNo}
    	</foreach>
	</delete>
	<select id="selectProduct" resultType="Cart">
		select * 
		from cart c
			join product p on c.product_no=p.product_no
		where c.user_no=#{userNo}
		order by p.product_company asc, c.cart_no asc
	</select>
	
	<select id="selectProductDetail" resultType="Product">
		select *
		from product
		where product_no=#{productNo}
	</select>
	<delete id="productDelete">
		delete from cart
		where cart_no=#{cartNo}
	</delete>
	<select id="selectThumbList" resultType="Attachment">
		select * 
		from attachment
		where attm_position=0
			and attm_level=0
			and position_no in
			<foreach collection="pNo" item="no" open="(" separator="," close=")">
				#{no}
			</foreach>
	</select>
 	
	
	
	<select id="selectCouponList" resultType="CouponBox">
		select * 
		from coupon_box cb
			join coupon c on c.coupon_no=cb.coupon_no
			join "USER" u on c.user_no=u.user_no
		where cb.user_no=#{userNo}
			and cb.coupon_used ='N'
			and (c.coupon_target='all' or c.coupon_target=#{userGrade})
		order by c.coupon_startdate desc
	</select>
	<!-- ========================위시리스트========================== -->
	
	<select id="selectWishList" resultType="Wishlist">
		select * 
		from wishlist w
			join product p on p.product_no=w.product_no
			left join(
				select product_no,count(*) AS review_count
				from review
				group by product_no
			)r on p.product_no = r.product_no
		where w.user_no=#{userNo}
		<choose> 
			<when test="wishSortType=='oldest'">
				order by w.wish_date asc
			</when>
			<when test="wishSortType=='review'">
				order by NVL(r.review_count,0) desc, w.wish_date desc
			</when>
			<otherwise>
				order by w.wish_date desc
			</otherwise>
		</choose>
	</select>
	
	
	
	
	
	
	<delete id="wishcheckDelete">
		delete from wishlist
		where wishlist_no in
		<foreach collection="wNo" item="wishlistNo" open="(" separator="," close=")">
			#{wishlistNo}
    	</foreach>
	</delete>
	

	
	<delete id="wishproductDelete">
		delete from wishlist
		where wishlist_no=#{wishlistNo}
	</delete>
	<update id="updateWishToCart">
		update cart
		set amount=amount+1
		where user_no=#{userNo}
			and product_no in (
				select w.product_no
				from wishlist w
				where w.wishlist_no in
				<foreach collection="wNo" item="wishno" open="(" separator="," close=")">
					#{wishno}
				</foreach>
			)
	</update>
	
	
	<insert id="insertWishToCart">
		insert into cart (cart_no,amount,user_no,product_no)
		select seq_cart.nextval,1,#{userNo},w.product_no
		from wishlist w
		where w.wishlist_no in
			<foreach collection="wNo" item="wishno" open="(" separator="," close=")">
				#{wishno}
			</foreach>
		and not exists(
			select 1
			from cart c
			where c.user_no=#{userNo}
			and c.product_no=w.product_no
		)
	</insert>
	
	<!-- ========================= 주문내역 =============================================-->
	<select id="selectOrder" resultType="Order">
	    select 
	        o.order_no as orderNo,
	        o.order_target_no as orderTargetNo,
	        o.order_date as orderDate,
	        o.order_count as orderCount,
	        o.order_status as orderStatus,
	        o.payment_method as paymentMethod,
	        o.pay_price as payPrice,
	        o.delivery_company as deliveryCompany,
	        o.delivery_no as deliveryNo,
	        o.delivery_status as deliveryStatus,
	        o.order_type as orderType,
	        o.user_no as userNo,
	        o.personal_coupon_no as personalCouponNo,
	        o.user_name as userName,
	        o.user_phone as userPhone,
	        o.user_address as userAddress,
	        p.product_no as productNo,
	        p.product_name as productName,
	        p.product_price as productPrice,
	        p.product_stock as productStock,
	        p.product_state as productState,
	        p.product_company as productCompany,
	        a.attm_rename as attmRename
	    from "ORDER" o
	    left join product p 
	        on p.product_no = o.order_target_no
	    left join attachment a
	        on a.position_no = p.product_no
	       and a.attm_level = 0
	    where o.user_no = #{userNo}
	    order by o.order_no desc
	</select>
	
	
	<select id="selectOrderDetail" resultType="Order">
		select *
		from(
			select 
				o.order_no as orderNo,
				o.order_target_no as orderTargetNo,
				o.order_date as orderDate,
				o.order_count as orderCount,
				o.order_status as orderStatus,
				o.payment_method as paymentMethod,
				o.pay_price as payPrice,
				o.delivery_company as deliveryCompany,
				o.delivery_no as deliveryNo,
				o.delivery_status as deliveryStatus,
				o.order_type as orderType,
				o.user_no as userNo,
				o.personal_coupon_no as personalCouponNo,
				o.user_name as userName,
				o.user_phone as userPhone,
				o.user_address as userAddress,
				p.product_no as productNo,
       			p.product_name as productName,
        		p.product_price as productPrice,
        		p.product_stock as productStock,
        		p.product_state as productState,
        		p.product_company as productCompany,
        		a.attm_rename as attmRename
			from "ORDER" o
			left join product p 
				on p.product_no=o.order_target_no
			left join attachment a
				on a.position_no=p.product_no
			and a.attm_level=0
			where o.user_no=#{userNo} and o.order_no=#{orderNo}
			and o.order_type=1
		
			union all
		
			select 
				o.order_no as orderNo,
				o.order_target_no as orderTargetNo,
				o.order_date as orderDate,
				o.order_count as orderCount,
				o.order_status as orderStatus,
				o.payment_method as paymentMethod,
				o.pay_price as payPrice,
				o.delivery_company as deliveryCompany,
				o.delivery_no as deliveryNo,
				o.delivery_status as deliveryStatus,
				o.order_type as orderType,
				o.user_no as userNo,
				o.personal_coupon_no as personalCouponNo,
				o.user_name as userName,
				o.user_phone as userPhone,
				o.user_address as userAddress,
				p.product_no as productNo,
       			p.product_name as productName,
        		p.product_price as productPrice,
        		p.product_stock as productStock,
        		p.product_state as productState,
        		p.product_company as productCompany,
        		a.attm_rename as attmRename
			from "ORDER" o
			left join product p 
				on p.product_no = o.order_target_no 
			left join attachment a
				on a.position_no=p.product_no
			and a.attm_level=0
			where o.user_no=#{userNo} and o.order_no=#{orderNo}
			and o.order_type=2
		)
		order by orderNo desc
	</select>
	
	
	<select id="selectProductNoForOrder" resultType="int">
		  select o.order_target_no as product_no
		  from "ORDER" o
		  where o.user_no = #{userNo}
	</select>

	<select id="checkCart" resultType="int">
  		select count(*)
  		from cart
  		where user_no = #{userNo}
    	and product_no = #{productNo}
	</select>
	
	<insert id="orderToCart">
		insert into cart (cart_no,amount,user_no,product_no)
		values(seq_cart.nextval,1,#{userNo},#{productNo})
			
	</insert>
	<update id="purchaseConfirm">
		update "ORDER"
		set order_status='confirmed'
		where delivery_status='after'
			and order_no=#{orderNo}
			and user_no=#{userNo}
	</update>
	<select id="orderStatusCount" parameterType="int" resultType="map">
		select
			sum(case when delivery_status='shipping' then 1 else 0 end) as "shippingCount",
			sum(case when delivery_status ='after' then 1 else 0 end)as "deliveredCount",
			sum(case when order_status='cancel' then 1 else 0 end)as "cancelCount"
		from "ORDER"
		where user_no=#{userNo}
	</select>
	<update id="orderCancel">
		update "ORDER"
		set order_status ='cancel'
		where order_no in
			<foreach collection="oNo" item="orderNo" open="(" separator="," close=")">
      			#{orderNo}
    		</foreach>
		and user_no=#{userNo}
	</update>
	
	
	<insert id="insertCancel">
		INSERT INTO order_cancel (cancel_no, user_no,order_no,cancel_reason,cancel_detail,cancel_date)
		VALUES (seq_cancel.NEXTVAL,#{userNo},#{orderNo},#{cancelReason},#{cancelDetail},SYSDATE)
	</insert>
	
	<update id="updateAutoConfirmOrder">
		update "ORDER"
		set order_status='confirmed'
		where order_status='completed' and delivery_status='after'
			<![CDATA[
      			and delivery_date <= SYSDATE - (5/24/60)
      		]]>
	
	</update>
	
	<update id="updateAutoUpdateDelivery">
		update "ORDER"
		set delivery_status= case delivery_status
								when 'before' THEN 'shipping'
								when 'shipping'THEN 'after'
								else delivery_status
								END,
			delivery_date = case delivery_status
								when 'shipping' then SYSDATE
								else delivery_date
								END
		where order_status='completed' and delivery_status!='after'
		
	</update>
	
	<select id="selectCartList" resultType="Cart">
		select *
		from cart c
		join product p on c.product_no=p.product_no
		<where>
        <if test="list != null and list.size > 0">
            c.cart_no IN
            <foreach collection="list" item="cNo" open="(" separator="," close=")">
                #{cNo}
            </foreach>
        </if>
    </where>
	</select>
	
	<select id="directPaySelectProduct" resultType="Product">
		select *
		from product
		where product_no=#{productNo}
	</select>
	
	<update id="updateCartQty">
		update cart 
		set amount =amount+#{amount}
		where user_no=#{userNo} and product_no=#{productNo}
	</update>
	<insert id="insertCart">
		INSERT INTO CART (CART_NO, AMOUNT, USER_NO, PRODUCT_NO)
		VALUES (SEQ_CART.NEXTVAL,#{amount},#{userNo},#{productNo})
	</insert>
	
	<select id="checkWishNo" resultType="java.lang.Integer">
		select wishlist_no
		from wishlist
		where user_no=#{userNo} and product_no=#{productNo}
	</select>
	<insert id="addWish">
		INSERT INTO WISHLIST (WISHLIST_NO, WISH_DATE, PRODUCT_NO,USER_NO)
		VALUES (SEQ_WISHLIST.NEXTVAL,SYSDATE,#{productNo},#{userNo})
	</insert>
	<delete id="removeWish">
		delete from wishlist
		where user_no=#{userNo} and product_no=#{productNo}
	</delete>
	
	<select id="selectOrderCancel" resultType="OrderCancel">
		select *
		from order_cancel
		where order_no=#{orderNo}
	</select>
	
	
	<update id="updateCartamount">
		update cart
		set amount=#{amount}
		where cart_no=#{cartNo}
	</update>
	
	
	<select id="checkCouponbyCart" resultType="CouponBox">
		select *
		from coupon_box cb
		join coupon c on cb.coupon_no=c.coupon_no
		where cb.personal_coupon_no=#{personalCouponNo}
		
	</select>
	<select id="makeOrderNo" resultType="int">
		select seq_order.NEXTVAL from dual
	</select>
	
	
	<insert id="insertOrder">
    insert into "ORDER" (
        order_no, order_target_no, order_date, order_count, order_status,
        payment_method, pay_price, delivery_company, delivery_no, delivery_status,
        order_type, user_no, personal_coupon_no, user_name, user_phone, user_address
    )
    VALUES (seq_order.NEXTVAL,#{orderTargetNo},SYSDATE,#{orderCount},DEFAULT,#{paymentMethod},#{payPrice},#{deliveryCompany},#{deliveryNo},DEFAULT,#{orderType},#{userNo},#{personalCouponNo},#{userName},#{userPhone},#{userAddress}
    )
</insert>

	
	<delete id="deleteCartlist">
		delete from cart
		where cart_no in
		<foreach collection="list" item="cNo" open="(" separator="," close=")">
            #{cNo}
        </foreach>
	</delete>
	
	
	
	<update id="minusPoint">
		update "USER"
		set user_point=user_point-#{usePoint}
		where user_no=#{userNo}
	</update>
	
	<update id="addPoint">
		update "USER"
		set user_point=user_point+#{savePoint}
		where user_no=#{userNo}
	</update>
	
	
	<update id="updateCouponStatus">
		update coupon_box
		set coupon_used='Y'
		where personal_coupon_no=#{couponNo}
	</update>
</mapper>