<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"></include>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"></include>
	
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
	
	<appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %-5p %c.%M - %m%n</pattern>
		</layout>
	</appender>

	<appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>C:/logs/member/login.log</file>
		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yy-MM-dd HH:mm:ss} [%p] %c{1}.%M>%L - %m%n</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>C:/logs/member/login.log.%d{yyyyMMdd}</fileNamePattern>
		</rollingPolicy>
		
	</appender>
	
	<logger name="itView.springboot.controller.inhoController" level="debug" additivity="false">
		<appender-ref ref="myConsoleAppender"/>
		<appender-ref ref="myFileAppender"/>
	</logger>
	
	<logger name="itView.springboot.common.config.interceptor.LogInterceptor" level="debug" additivity="false">
		<appender-ref ref="myFileAppender"/>
	</logger>
	
	
</configuration>