<!-- templates/views/common/mySidebar.html -->
<nav class="sidenav" aria-label="Primary">
  <div class="sidenav-top">
    <a class="nav-item" th:href="@{/my/myPage}">
      <i class="fa-solid fa-user"></i><span>마이페이지</span>
    </a>

    <a class="nav-item" th:href="@{/my/experienceApplication}">
      <i class="fa-solid fa-gift"></i><span>체험단 신청</span>
    </a>

    <a class="nav-item" th:href="@{/my/myReview}">
      <i class="fa-solid fa-star"></i><span>리뷰</span>
    </a>

    <a class="nav-item" th:href="@{/Shopping/cart}">
      <i class="fa-solid fa-cart-shopping"></i><span>장바구니</span>
    </a>

    <a class="nav-item" th:href="@{/Shopping/WishList}">
  <i class="fa-solid fa-heart"></i><span>찜</span>
</a>

		 <a class="nav-item" th:href="@{/login/logout}">
      <i class="fa-solid fa-right-from-bracket"></i><span>로그아웃</span>
    	 </a>


	</div>
</nav>
