:root {
  --main-color: #27c7c7;
  --bg-color: #eefbfb;
  --text-color: #333;
  --border-radius: 8px;
  --font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #fff;
  color: var(--text-color);
}

.header {
  height: 60px;
  background-color: white;
  border-bottom: 2px solid #34e5eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.layout {
  display: flex;
  min-height: calc(100vh - 60px);
}

.layout {
  display: flex;
  height: 100vh; /* 필요 시 */
}

.content {
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
}

.product-header, .product-card {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
}

.product-header {
  font-weight: bold;
  color: #00c8f8;
  border-bottom: 1px solid #ddd;
}

.product-card {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin-top: 20px;
}

.product-item {
  cursor: pointer;
}

.product-head {
	margin-left: 17%;
}

.product-no {
	margin-top: 13px;
	width: 20px;
}

.product-name {
	width: 500px;
	margin-top: 10px;
	margin-left: 10%;
}

.product-stock {
	width: 100px;
	margin-top: 10px;
	margin-left: 1.5%;
}

.review-count {
	width: 50px;
	margin-top: 12px;
	margin-left: 4%;
}

.answer {
	margin-top: 12px;
	margin-left: 5%;
	margin-right: 4%;
}

.stock-zero {
	width: 120px;
	margin-top: 12px;
	margin-right: 1%;
}

#product-stockHead {
	margin-left: 22%;
}

#review-countHead { 
	margin-left: 7%;
}

#answer-head {
	margin-left: 4%;
}

.editButton {
	width: 70px;
	background-color: #34e5eb;
	color: white;
	border: 1px solid #c2e4e4;
	border-radius: var(--border-radius);
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.editButton:hover {
	width: 70px;
	background-color: #8ad8f0;
	color: white;
	border: 1px solid #c2e4e4;
	border-radius: var(--border-radius);
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}