:root {
  --main-color: #27c7c7;
  --bg-color: #eefbfb;
  --text-color: #333;
  --border-radius: 8px;
  --font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: #fff;
  color: var(--text-color);
}

.header {
  height: 60px;
  background-color: white;
  border-bottom: 2px solid #34e5eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.layout {
  display: flex;
  min-height: calc(100vh - 60px);
}

.content {
  flex: 1;
  padding: 40px;
}

.content h2 {
  margin-bottom: 30px;
  color: var(--main-color);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid var(--main-color);
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: var(--bg-color);
}

.qna-box {
  background-color: var(--bg-color);
  padding: 15px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  border: 1px solid var(--main-color);
  min-height: 100px;
}

.questionTitle{
	cursor: pointer;
}

.boardTitle {
	cursor: pointer;
}

.statusY {
	color: #8ad8f0;
	font-weight: bolder;
}

.statusN {
	color: #e4605e;
	font-weight: bolder;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-bottom: 1px solid var(--main-color);
  }

  .content {
    padding: 20px;
  }

  table, th, td {
    font-size: 14px;
  }
}