* {
	box-sizing: border-box
}

.form {
	background: #f0f4f9;
	border: 1px solid #cccccc;
	border-radius: 8px;
	padding: 4px 0;
	padding-bottom: 0;
	margin-right: 5%;
	margin-left: 7%;
	margin-bottom:3%;
}

body {

	background: #f7f8f9;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	margin-right: 5%;
	margin-left: 3%;
}

.cancel-notice {
	background: #f1f5f9;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	border-top: none;
	color: gray;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.order-box {
	padding-top: 1.5%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1.5%;
	background: #ffffff;
}

.order-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order-image {
	width: 130px;
	height: 130px;
	background-color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
	margin-top: 1%;
	border-radius: 5px;
}

.order-info {
	flex: 1;
}

.order-info p {
	margin: 3px 0;
}

.order-info .status {
	font-weight: bold;
}

.order-info .price {
	color: #8ad8f0;
	font-weight: bold;
	margin-bottom: 1%;
	font-size: 20px;
}

.order-info .name {
	color: gray;
	font-size: 18px;
}

.cs-link {
	align-items: center;
	text-decoration: none;
	color: gray;
	display: block;
	margin: 7px auto 2px;
	width: fit-content;
}

.cancel-detail {
	color: gray;
	font-size: 20px;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	font-weight: bold;
	background: #f1f5f9;
}

.refund-inform {
	border-radius: 8px;
}

.refund-notice {
	font-size: 20px;
	font-weight: bold;
	padding-left: 2%;
	margin-top: 0;
	padding-top: 2%;
	background: #ffffff;
}

.total-price, .total-refund, .refund-method, .refund-date {
	font-weight: bold;
	font-size: 18px;
	color: gray;
	margin-left: 1%;
	margin-right: 1%;
}

.total-price {
	display: flex;
	justify-content: space-between;
}

.total-refund {
	display: flex;
	justify-content: space-between;
}

.refund-method {
	display: flex;
	justify-content: space-between;
}

.refund-date {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	padding-bottom: 1%;
	border-radius: 8px;
	padding-left: 2%;
	padding-right: 2%;
}