/* 전체 레이아웃 */
body {
	font-family: 'Malgun Gothic', Arial, sans-serif;
	background-color: #eefbfb; /* 민트 배경 */
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
}

/* 최상위 컨테이너 */
.container {
	display: flex;
	width: 100%;
	height: 100%;
}
/* 콘텐츠 영역 */
.content-area {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
	overflow-y: auto;
}
.admin-searchUser-detail-wrapper{
    min-width: 94.5%;
    margin: 0 auto;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
    padding: 40px;
}

.admin-searchUser-detail-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10px 0;
}

/*테이블 부분 verticle table*/
.admin-searchUser-detail-table {
    border-collapse: separate;
    border-spacing: 0cap;
    border: transparent;
    width:100%;
}
.admin-searchUser-detail-table th{
  background-color: #f9f9f9;
  text-align: left;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-right-style: none;
  width: 120px; /* 왼쪽 영역 너비 */
  font-weight: 400;
  text-align: center;
  border-bottom: none;
  
}
.admin-searchUser-detail-table td {
  padding: 10px 10px;
  border: 1px solid #ddd;
  color: #333;
  width: calc(100% - 120px); /* 남는 영역 전부 */
  word-break: break-word; 
  border-left: none;
  border-bottom: none;
}

.admin-searchUser-detail-table tr:nth-child(5) th {
  border-bottom: 1px solid #ddd;
}

.admin-searchUser-detail-table tr:nth-child(5) th {
  border-bottom: 1px solid #ddd; 
  border-bottom-left-radius: 12px;
}
.admin-searchUser-detail-table tr:nth-child(1) th{
    border-top-left-radius: 12px;
}
.admin-searchUser-detail-table tr:nth-child(1) td{
    border-top-right-radius: 12px;
}
.admin-searchUser-detail-table tr:nth-child(5) td{
    border-bottom-right-radius: 12px;
    border-bottom: 1px solid #ddd;
}

.admin-button-wrapper {
    display: flex;              /* 플렉스 박스로 정렬 */
    justify-content: center;    /* 가로 중앙 */
    align-items: center;        /* 세로 중앙 */
    gap: 20px;                  /* 버튼 사이 간격 */
    margin-top: 30px;           /* 위쪽 여백 */
}

.admin-reportList-btn,
.admin-back-btn{
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background-color: #34e5eb;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    margin-top: 50px;
}
.admin-reportList-btn:hover{
	 cursor: pointer;
    background-color:#8ad8f0;
}.admin-back-btn:hover {
     cursor: pointer;
    background-color:#8ad8f0;
}