/* 전체 레이아웃 */
body {
	font-family: 'Malgun Gothic', Arial, sans-serif;
	background-color: #eefbfb; /* 민트 배경 */
	margin: 0;
	padding: 0;
	display: flex;
	height: 100vh;
}

/* 최상위 컨테이너 */
.container {
	display: flex;
	width: 100%;
	height: 100%;
}
/* 콘텐츠 영역 */
.content-area {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
	overflow-y: auto;
}

.admin-genBoard-wrapper{
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:white;
    padding: 40px;
}
.admin-genBoard-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.admin-genBoard-title{
    font-size: 20px;
    color:black;
    font-weight: 500;
    margin-bottom: 10px;

}
.admin-genBoard-divider{
    align-items: center;
    justify-content: center;
    /* border: 1px solid #cccccca9; */
    border: 1px solid #34e5eb;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 2px;

}
.admin-genBoard-table table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
}
.admin-genBoard-table th,
.admin-genBoard-table td {
    text-align: center;
    padding: 10px;
    word-wrap: break-word; /* 길어도 줄 바꿈 */
}
.admin-genBoard-table th{
    font-weight: 500;
    color: black;
   
}
.admin-genBoard-table th:nth-child(1),
.admin-genBoard-table td:nth-child(1){ width: 5%; }
.admin-genBoard-table th:nth-child(2),
.admin-genBoard-table td:nth-child(2){ /* 제목 부분*/
    width: 45%;
    white-space: nowrap;     
    overflow: hidden;         
    text-overflow: ellipsis;
    }
.admin-genBoard-table th:nth-child(3),
.admin-genBoard-table td:nth-child(3){ 
    width: 25%; 
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;
}
.admin-genBoard-table th:nth-child(4),
.admin-genBoard-table td:nth-child(4){ width: 15%; }
.admin-genBoard-table th:nth-child(5),
.admin-genBoard-table td:nth-child(5){ width: 10%; }

.admin-genBoard-table td:nth-child(2) { /*제목 부분만 클릭 가능 -> 게시글 상세보기 이동*/
    cursor: pointer;
}


/*페이지네이션 : 일반/판매자게시판 UI 통일*/
.admin-board-pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
  padding: 20px 0;
  margin-top: 50px;
}

.admin-board-page-item {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  color: #333;
  transition: all 0.2s ease;
}

.admin-board-page-item:hover:not(.active) {
  background-color: #f0f0f0;
}

.admin-board-page-item.active {
  background-color: #34e5eb;
  color: white;
  border-color: #34e5eb;
}