.admin-partBoard-wrapper{
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-partBoard-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
.admin-partBoard-title{
    font-size: 20px;
    color:black;
    font-weight: 500;
    margin-bottom: 10px;

}
.admin-partBoard-divider{
    align-items: center;
    justify-content: center;
    /* border: 1px solid #cccccca9; */
    border: 1px solid #c4f2f58f;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 2px;

}
.admin-partBoard-table table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
}
.admin-partBoard-table th,
.admin-partBoard-table td {
    text-align: center;
    padding: 10px;
    word-wrap: break-word; /* 길어도 줄 바꿈 */
}
.admin-partBoard-table th{
    font-weight: 500;
    color: black;
   
}
.admin-partBoard-table th:nth-child(1),
.admin-partBoard-table td:nth-child(1){ width: 5%; }
.admin-partBoard-table th:nth-child(2),
.admin-partBoard-table td:nth-child(2){ /* 제목 부분*/
    width: 45%;
    white-space: nowrap;     
    overflow: hidden;         
    text-overflow: ellipsis;
    }
.admin-partBoard-table th:nth-child(3),
.admin-partBoard-table td:nth-child(3){ 
    width: 25%; 
    white-space: nowrap;      
    overflow: hidden;         
    text-overflow: ellipsis;
}
.admin-partBoard-table th:nth-child(4),
.admin-partBoard-table td:nth-child(4){ width: 15%; }
.admin-partBoard-table th:nth-child(5),
.admin-partBoard-table td:nth-child(5){ width: 10%; }

.admin-partBoard-table td:nth-child(2) { /*제목 부분만 클릭 가능 -> 게시글 상세보기 이동*/
    cursor: pointer;
}

/*페이지네이션 디자인*/
.admin-board-pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
  padding: 20px 0;
  margin-top: 50px;
}

.admin-board-page-item {
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  color: #333;
  transition: all 0.2s ease;
}

.admin-board-page-item:hover:not(.active) {
  background-color: #f0f0f0;
}

.admin-board-page-item.active {
  background-color: #a1eef3de;
  color: white;
  border-color:#a1eef3de;
}