<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>체험단 신청글 상세 페이지</title>
<link href="/css/seller/productAnswerPage.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div th:replace="~{common/sellerHeader :: sellerHeader}"></div>

	<div class="layout">
		<div th:replace="~{common/sellerSidebar :: sellerSidebar}"></div>

		<div class="content">
			<h2 class="page-title">체험단 신청글 상세 페이지</h2>
			<input type="hidden" id="expNo" th:value="${expDetail.expNo}"/>
			<div class="qna-wrapper">
				<div class="qna-box">
					<strong>체험단 신청글 제목</strong>
					<p>[[${expDetail.expTitle}]]</p>
					<br/> 
				</div>

				<div class="qna-box" id="contentDiv">
					<strong>체험단 신청글 내용</strong>
					<br/> 
					<p th:utext="${expDetail.expContent}"></p>
					<br/>
					<button type="button" id="editButton">수정</button>
					<button type="button" id="deleteButton">삭제</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		window.onload = () => {
			document.querySelector('#editButton').addEventListener('click', () => {
				const expNo = document.querySelector('#expNo').value;
				location.href = '/seller/editExp/' + expNo;
			});
			
			document.querySelector('#deleteButton').addEventListener('click', () => {
				const expNo = document.querySelector('#expNo').value;
				if(confirm('정말 삭제하시겠습니까?')){
					location.href = '/seller/deleteExp/' + expNo;
				} else {
					alert('체험단 신청글 삭제가 취소되었습니다. 페이지가 새로고침 됩니다.');
					location.reload();
				}
			});
		}
	</script>

</body>
</html>
