<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>상품 Q&A 페이지</title>
<link href="/css/seller/productQnAPage.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div th:replace="~{common/sellerHeader :: sellerHeader}"></div>

	<div class="layout">
		<div th:replace="~{common/sellerSidebar :: sellerSidebar}"></div>

		<div class="content">
			<h2>상품 Q&A 페이지</h2>
			<div>답변 대기 : [[${ba}]] 개</div>
			<div>답변 완료 : [[${aa}]] 개</div>
			<table>
				<thead>
					<tr>
						<th>문의 번호</th>
						<th>상품 명</th>
						<th>문의 제목</th>
						<th>작성자</th>
						<th>답변 상태</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="q : ${qList}">
						<td>[[${q.questionNo}]]</td>
						<td>[[${q.productName}]]</td>
						<td class="questionTitle">[[${q.questionTitle}]]</td>
						<td>[[${q.userName}]]</td>
						<td>[[${q.questionStatus}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<script>
		window.onload = () => {
			const questionTitles = document.querySelectorAll('.questionTitle');
			for(questionTitle of questionTitles){
				questionTitle.addEventListener('click', e => {
					const questionNo = e.target.previousElementSibling.previousElementSibling.innerText;
					location.href = '/product/answer/' + questionNo;
				});
			}
		}
	</script>

</body>
</html>
