<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>상품 수정 페이지</title>
<link href="../../../static/css/seller/productEditPage.css"
	rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="header">판매자님, 환영합니다.</div>

	<div class="layout">
		<div class="sidebar">
			<div class="sidebar-item">상품 등록</div>
			<div class="sidebar-item active">상품 수정</div>
			<div class="sidebar-item">재고 관리</div>
			<div class="sidebar-item">쿠폰 관리</div>
			<div class="sidebar-item">상품 Q&A</div>
		</div>

		<div class="content">
			<h2>상품 수정 페이지</h2>
			<form>
				<div class="form-group">
					<label>상품명</label> <input type="text" value="기존 상품명 예시" />
				</div>

				<div class="form-group">
					<label>상품 설명</label>
					<textarea>기존 설명 내용 예시</textarea>
				</div>
				
				<div class="form-group">
					<label>제조 회사</label> <input type=text placeholder="제조 회사명을 입력하세요" />
				</div>

				<div class="form-group">
					<label>상품 이미지</label> <input type="file" />
				</div>

				<div class="form-group">
					<label>재고 수량</label> <input type="number" min="0" value="100" />
				</div>

				<div class="form-group">
					<label>상품 가격</label> <input type="number" min="0" />
				</div>

				<div class="form-buttons">
					<button type="submit">완료</button>
					<button type="button">취소</button>
					<button type="button" class="delete-btn">삭제</button>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
