<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/login/find_password.css">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="/js/login/find_password.js" defer></script>
</head>
<body>
    <main class="findPassword-main">
        <div class="findPassword-container">  
            <form action="login/resetPwd" method="post">
            <div class="findPassword-title">
            	<a th:href="@{/home}">FIND PASSWORD</a>
           	</div>
                <div class="findPassword-inputId">
                    <label for="userid">아이디 :</label>
                    <input type="text" id="userId" name="userId" required>
                    <div class="login-message">*판매자 아이디: 사업자 등록번호를 입력하세요</div>
                    <div class="login-forgetId">
                    	<a href="/login/findId">아이디를 잊어버렸어요</a>
                    </div>
                </div>
                <div class="findPassword-inputEmail">
                    <label for="userEmail">이메일 :</label>
                    <input type="email" id="email" name="email" required>
                    <button type="button" class="btn-verify">인증번호 받기</button>
                </div>
                
                <div class="findPassword-inputEmail-confirm">
                   <label for="userEmail-confirm">인증번호 :</label>
                   <input type="text" id="userEmail-confirm" name="emailConfirm" 
                   	   placehoder="인증번호를 입력하세요"required>
                   <label id="emailCheckResult"></label>
                </div>
                 
                <div class="findPassword-button-box">
                    <button type="button" id="findPwd-verifyBtn">확인</button>
                </div>
            </form>
        </div>    
    </main>
</body>
</html>