<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="./reset_password.css">
    <script src="./reset_password.js" defer></script>
</head>
<body>
    <main class="resetPassword-main">
        <div class="resetPassword-container">  
            <form action="user/logIn" method="post">
                <div class="resetPassword-inputPwd">
                    <label for="userPwd">새 비밀번호 :</label>
                    <input type="password" id="userPwd" name="userPwd" required>
                </div>
                <div class="resetPassword-inputPwd-confirm">
                    <label for="userPwd-confirm">비밀번호 확인 :</label>
                    <input type="password" id="userPwd-confirm" name="userPwd-confirm" required>
                </div>
                <div class="resetPassword-message">비밀번호를 재입력 하세요</div>
                
                
                <div class="resetPassword-button-box">
                    <button type="button" id="resetPwd-verifyBtn">확인</button> <!--로그인 페이지로 이동-->
                </div>
            </form>
        </div>    
    </main>
</body>
</html>