<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/login/reset_password.css">
    <script src="/js/login/reset_password.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    
</head>
<body>
    <main class="resetPassword-main">
        <div class="resetPassword-container">  
            <form action="/login/resetPwd" method="post" id="changePwd">
                <div class="resetPassword-inputPwd">
                	<h2 class="resetPwd-title">
                		<a th:href="@{/home}">UPDATE PASSWORD</a>
                	</h2>
                	<input type="hidden" th:value="${userId}" name="userId">
                    <label for="userPassword">새 비밀번호 :</label>
                    <input type="password" id="newPwd" name="userPassword" required>
                </div>
                <div class="resetPassword-inputPwd-confirm">
                    <label for="userPwd-confirm">비밀번호 확인 :</label>
                    <input type="password" id="newPwdConfirm" required>
                </div>
                <div class="resetPassword-message">비밀번호를 재입력 하세요</div>
                
                
                <div class="resetPassword-button-box">
                    <button type="submit" id="resetPwd-verifyBtn">변경</button> <!--로그인 페이지로 이동-->
                </div>
            </form>
        </div>    
    </main>
</body>
</html>